<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<button onclick="location.href='/memberRegistration'">회원 가입</button>
<button onclick="location.href='/saleitemupload'">물품 등록</button>
<button onclick="location.href='/productlist'">물품 보기</button>
<button th:unless="${islogin}" onclick="location.href='/login'" >로그인</button>
<button th:if="${islogin}" onclick="location.href='/logout'" >로그아웃</button>
<button th:if="${islogin}" onclick="location.href='/bidRecode'"> 판매기록</button>
<button th:if="${islogin}" onclick="location.href='/bidBuyRecode'"> 구매기록</button>
<form th:action method="post" enctype="multipart/form-data">
  <div> aa<input type="file" name="file"></div>
  <input type="submit">
</form>
<img src="/a.png">
</body>
</html>
