<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>경매장!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="/img/apple-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/templatemo.css">
  <link rel="stylesheet" href="/css/custom.css">

  <!-- Load fonts style after rendering the layout styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
  <link rel="stylesheet" href="/css/fontawesome.min.css">
  <script src="/modal.js"></script>
  <script src="/filter.js"></script>
</head>

<body>
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center">

    <a class="navbar-brand text-success logo h1 align-self-center" href="/productlist">
      EveryAuction
    </a>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
      <div class="flex-fill">
        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="/productlist">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/saleitemupload">Product Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bidRecode">My Product</a>
          </li>
        </ul>
      </div>
      <div class="navbar align-self-center d-flex">
        <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
        </div>
        <a class="nav-icon position-relative text-decoration-none" href="/myinfo">
          <i class="fa fa-fw fa-user text-dark mr-3"></i>
        </a>
        <a th:if="!${isLogin}" class="nav-icon position-relative text-decoration-none" href="/logout">
          <i class="fa fa-fw fa-user-slash text-dark mr-3"></i>
        </a>
      </div>
    </div>

  </div>
</nav>
<!-- Close Header -->

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="w-100 pt-1 mb-5 text-right">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="" method="get" class="modal-content modal-body border-0 p-0">
      <div class="input-group mb-2">
        <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
        <button type="submit" class="input-group-text bg-success text-light">
          <i class="fa fa-fw fa-search text-white"></i>
        </button>
      </div>
    </form>
  </div>
</div>



<!-- Start Content -->
<div class="container py-5">
  <div class="row">

    <div class="col-lg-3">
      <h1 class="h2 pb-4">My Auction</h1>
      <ul class="list-unstyled templatemo-accordion">
        <li class="pb-3">
          <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
            My Product
            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
          </a>
          <ul class="collapse show list-unstyled pl-3">
            <li><a class="text-decoration-none" href="/bidBuyRecode">Purchase</a></li>
            <li><a class="text-decoration-none" href="/bidRecode">Sales</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-lg-9">
      <div class="row">
        <div class="col-md-6">
          <h2>Purchase List</h2>
          <ul class="list-inline shop-top-menu pb-3 pt-1">
            <li class="list-inline-item">
              <a class="h3 text-dark text-decoration-none mr-3" onclick="showAll()">All</a>
            </li>
            <li class="list-inline-item">
              <a class="h3 text-dark text-decoration-none mr-3" onclick="showSucceed()">Succeed</a>
            </li>
            <li class="list-inline-item">
              <a class="h3 text-dark text-decoration-none" onclick="showFailed()">Failed</a>
            </li>
          </ul>
        </div>

      </div>
      <div class="row">
        <div th:if="${existence}">거래기록이 없습니다.</div>
        <div th:class="${product.buyer}==${myid} ? 'sucess col-md-4' : 'fail col-md-4'" class="col-md-4" th:each="product : ${productList}">
          <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
              <div style="height: 200px; overflow: hidden;">
                <img class="card-img rounded-0 img-fluid" th:src="'data:image/png;base64,'+${photo[productStat.index]}">
              </div>
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul th:if="${product.buyer}==${myid}" class="list-unstyled">
                  <li><button class="btn btn-success text-white" th:onclick="'test('+${product.id}+')'">입찰 기록</button></li>
                  <li><button class="btn btn-success text-white mt-2" th:onclick="'chat('+${product.id}+')'">채팅 하기</button></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <li class="pt-2" style="display: inline; float: right;">
                <button th:if="${product.buyer}==${myid}" disabled class="btn btn-outline-success" style="display: inline; float: right;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                  </svg>
                </button>
                <button th:unless="${product.buyer}==${myid}" disabled class="btn btn-outline-danger" style="display: inline; float: right;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                  </svg>
                </button>
              </li>
              <a th:href="'/product/'+${product.id}" class="h3 text-decoration-none" style="display: inline;"><h4 th:text="${product.title}"></h4></a>
              <li style="list-style-type: none;">마감 시간 : <div th:text="${product.endTime}">2022-11-19</div></li>
              <li style="list-style-type: none;">판매자 : <span th:text="${product.saleUser}"></span></li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Content -->
<div class="container" id="te"></div>

<!-- Start Script -->
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/templatemo.js"></script>
<script src="/js/custom.js"></script>
<!-- End Script -->
</body>

</html>