<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/fielderror.css" type="text/css">
    <script src="/countdown.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        countDownTimer('lefttime', /*[[${product.endTime}]]*/);
        /*]]>*/
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <script th:inline="javascript">
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, onConnected, onError);
        function onConnected() {
            console.log("sucess");
            stompClient.subscribe('/sub/productId/'+22, function (e) {
                document.getElementById("id22").innerText = "현재가:"+e.body;
            });
        }
        function onError(error) {
            console.log("error");
        }
        function show(id){
            if(document.getElementById("edit"+id).style.display === "block"){
                document.getElementById("edit"+id).style.display="none";
            }
            else{
                document.getElementById("edit"+id).style.display="block";
            }
        }
    </script>
</head>
<body>
<div th:text="'제목:'+${product.title}"></div>
<div th:text="'현재가:'+${product.currentPrice}" th:id="'id'+${product.id}"></div>
<div id = "lefttime"></div>
<form th:action="'/product/'+${product.id}+'/bid'" th:if="${possible}" method="post">
    <input type="text" name="cost" id="price">
    <input type="submit" value="입찰하기">
</form>
<div class="fieldError" th:if="${lowerprice}" th:text="${lowerprice}"></div>
<div th:text="'내용:'+${product.productInformation}"></div>
<img th:src="'data:image/png;base64,'+${photo}">
<div>댓글 : </div>
<div th:each="reply : ${replies}">
    <div th:text="${reply.getUserId()}" style="display: inline-block"></div>
    <div th:text="${reply.getContent()}" style="display: inline-block"></div>
    <div th:text="${reply.getUploadTime()}" style="display: inline-block"></div>

    <button th:if="${mine[replyStat.index]}" th:onclick="'show('+${reply.id}+')'">수정</button>
    <form th:if="${mine[replyStat.index]}" th:action="'/product/deletereply/'+${reply.id}+'/'+${product.id}" method="post" style="display: inline-block">
    <input type="submit" value="삭제">
    </form>
    <form th:if="${mine[replyStat.index]}" th:action="'/product/editreply/'+${reply.id}+'/'+${product.id}"
          method="post" style="display: none" th:id="'edit'+${reply.id}" >
        <input type="text" name="content">
        <input type="submit" value="수정">
    </form>
</div>

<form th:action="'/product/'+${product.id}+'/productreply'" method="post">
    <input type="text" name="content">
    <input type="submit" value="등록">
</form>
</body>
</html>