<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>경매장!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/fielderror.css" type="text/css">
    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="/css/slick.min.css">
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css">


    <script src="/countdown.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        countDownTimer('lefttime', /*[[${product.endTime}]]*/);
        /*]]>*/
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/modal.js"></script>
    <script src="/replyTime.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, onConnected, onError);
        function onConnected() {
            console.log("sucess");
            stompClient.subscribe('/sub/productId/[[${product.id}]]', function (e) {
                document.getElementById('id[[${product.id}]]').innerText = "현재가: "+e.body;
            });
        }
        function onError(error) {
            console.log("error");
        }
        function show(id){
            if(document.getElementById("edit"+id).style.display === "block"){
                document.getElementById("edit"+id).style.display="none";
            }
            else{
                document.getElementById("edit"+id).style.display="block";
            }
        }
        /*]]>*/
    </script>

</head>

<body>
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand text-success logo h1 align-self-center" href="/productlist">
            EveryAuction
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/productlist">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/saleitemupload">Product Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bidRecode">My Product</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <a class="nav-icon position-relative text-decoration-none" href="/myinfo">
                    <i class="fa fa-fw fa-user text-dark mr-3"></i>
                </a>
                <a th:if="!${isLogin}" class="nav-icon position-relative text-decoration-none" href="/logout">
                    <i class="fa fa-fw fa-user-slash text-dark mr-3"></i>
                </a>
            </div>
        </div>

    </div>
</nav>
<!-- Close Header -->

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-7 mt-5">

                    <div class="card" style = "position:fixed; width:30%; right:20px; top:20%">
                        <div class="card-body">
                            <h1 class="h2" th:text="${product.title}"></h1>
                            <p class="h3 py-2" th:text="'현재가: '+${product.currentPrice}" th:id="'id'+${product.id}"></p>

                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>남은 시간:</h6>
                                    <div id = "lefttime"></div>
                                </li>
                                <div class="fieldError" th:text="${lowerprice}"></div>
                            </ul>

                            <form th:action="'/product/'+${product.id}+'/bid'" th:if="${possible}" method="post">
                                <div>
                                    <label >입찰</label>
                                    <input type="number" class="form-control mt-1" name="cost" id="price" placeholder="입찰할 가격을 입력하세요.">
                                </div>
                                <p></p>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit"><label>입찰</label></button>
                                    </div>

                                </div>
                            </form>
                            <div class="col d-grid">
                                <button th:onclick="'test('+${product.id}+')'" class="btn btn-success btn-lg" name="submit">기록 확인</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 사진 & 설명 & 댓글 -->
                <div class = "card" style = "width:65%; left:20px; padding-top: 30px;">
                    <div class="col-md-6 m-auto" style="text-align: center; width: 100%;" >
                        <h1 class = "h1" >Details</h1>
                        <hr>
                        <div style="text-align: left; width:100%;">
                            <p th:text="${product.productInformation}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-6 m-auto" style="text-align: center; width: 100%;" >
                    <h1 class = "h1">Photo</h1><p></p>
                        <hr>
                        <img th:src="'data:image/png;base64,'+${photo}" style = "width:100%; left:20px">
                        <hr>
                        <h1 class = "h1">replies</h1><p></p>
                        <hr>

                        <ul class="list-inline" style="text-align: left;" th:each="reply : ${replies}">
                            <li class="list-inline-item" style="padding-left: 5px; font-size: 120%">
                                <h4><b th:text="${reply.getUserId()}">이름</b></h4>
                            </li>
                            <li class="list-inline-item">
                                <p th:id="'reply'+${reply.getId()}" th:text="${reply.getUploadTime()}" class="text-muted" style="display:inline;"></p>
                            </li>
                            <script>
                                /*<![CDATA[*/
                                var t = "reply"+[[${reply.getId}]];
                                document.getElementById(t).innerText = timeForToday(document.getElementById(t).innerText);
                                /*]]>*/


                            </script>
                            <button class="btn btn-success btn-lg px-3" th:if="${mine[replyStat.index]}" th:onclick="'show('+${reply.id}+')'" style="float: right; width:13em; font-size: 5px; padding: 1px; text-align: center;">수정</button>
                            <form th:if="${mine[replyStat.index]}" th:action="'/product/deletereply/'+${reply.id}+'/'+${product.id}" method="post" style="display: inline;">
                                <button class="btn btn-success btn-lg px-3" type="submit" style="float: right; width:13em; font-size: 5px; padding: 1px; text-align: center;">삭제</button>
                            </form>
                            <li>
                                <p style="padding-left: 10px;" th:text="${reply.getContent()}"></p>
                            </li>
                            <form th:if="${mine[replyStat.index]}" th:action="'/product/editreply/'+${reply.id}+'/'+${product.id}"
                                  method="post" style="display: none;" th:id="'edit'+${reply.id}" >
                                <input style="display:inline; width: 100%;" type="text" class="form-control mt-1" name="content" placeholder="여기에 댓글 입력.">
                                <button class="btn btn-success btn-lg px-3" type="submit" style="display: inline; width:13em; font-size: 5px; padding: 1px; text-align: center; float: right">수정</button>
                            </form>
                            <hr>
                        </ul>
                        <form th:action="'/product/'+${product.id}+'/productreply'" method="post">
                            <div>
                                <input style="display:inline-block; width: 85%;" type="text" class="form-control mt-1" id="reply" name="content" placeholder="여기에 댓글 입력.">
                                <button type="submit" class="btn btn-success btn-lg px-3">입력</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->

    <!-- Start Script -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/templatemo.js"></script>
    <script src="/js/custom.js"></script>
    <!-- End Script -->

<div class="container" id="te"></div>
</body>

</html>